header.sticky {
  background-color: #fff;
  z-index: 50;
}
header.sticky .logo svg .fiverr-text {
  fill: #404145;
}
header.sticky .navigations a {
  color: #62646a;
}
header.sticky .navigations .join-button {
  color: #1dbf73;
  border-color: #1dbf73;
}
header.sticky .navigations .join-button:hover {
  background-color: #19a463;
  border-color: transparent;
  color: #fff;
}

header.sticky .category-menu-header {
  display: block;
  position: relative;
}
